/*-------------------------------------------------------------------
    파일정의 : 레이아웃
    속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
/* skip */
#skip-nav {height:0}
#skip-nav a {display: block; position: absolute; left: 0; top: -100px; width: 100%; height: 1px; text-align: center}
#skip-nav a:focus, #skip a:active {position: absolute; top: 0; z-index: 120; height: 25px; padding: 10px 0; font-size: 1.4em; font-weight: 700; color: #36348f; background: #fff;}

/* container */
.container{ max-width: 1280px; width: 100%; padding-left: 40px; padding-right: 40px; margin-left: auto; margin-right: auto; position: relative; }
.container::after{ display: block; clear: both; content: ""; }

/* header */
#header #utilBar{ background: #757575; display: flex; justify-content: space-between; }
#header #utilBar .util-nav{ float: left; }
#header #utilBar .util-nav li{ float: left; }
#header #utilBar .util-nav li a{ display: block; height: 40px; line-height: 40px; color: #ffffff; padding: 0 12px; font-size: 13px; font-weight: 700; }
#header #utilBar .util-nav li a.home{ padding-left: 22px; background: url('../img/common/ico_home_off.png') no-repeat left center; }
#header #utilBar .util-nav li.on a{ background: #ffffff; color: #222222; }
#header #utilBar .user{ float: right; }
#header #utilBar .user::after{ display: block; clear: both; content: ""; }
#header #utilBar .user > *{ float: left; }
#header #utilBar .user p{ font-size: 14px; color: #ffffff; line-height: 40px; margin-right: 20px; }
#header #utilBar .user .btn{ min-width: 66px; padding: 0 10px; margin: 10px 0 }

#header .gnb-wrap .logo{ float: left; padding: 12px 0 12px; margin-right: 88px; }
#header .gnb-wrap .logo a{ text-indent: -9999px; display: block; width: 161px; height: 63px; background: url('../img/common/logo.png') no-repeat center; background-size: 100%; }
#header .gnb-wrap .total-search{ float: left; position: relative; width: 294px; padding: 22px 0; }
#header .gnb-wrap .total-search input{ width: 100%; border: 0; height: 41px; border-bottom: 1px solid #cccccc; font-size: 16px; padding-right: 24px; }
#header .gnb-wrap .total-search .btn-ic{ width: 21px; height: 21px; background: url('../img/common/btn_ic_search.png') no-repeat center; position: absolute; right: 1px; top: 33px; }
#header .gnb-wrap #gnb{ float: right; }
#header .gnb-wrap #gnb ul::after{ display: block; clear: both; content: ""; }
#header .gnb-wrap #gnb ul li{ float: left; }
#header .gnb-wrap #gnb ul li a{ display: block; height: 85px; line-height: 85px; display: block; padding: 0 25px; font-size: 18px; color: #353535; }

#footer .footer-link{ padding: 9px 0 10px }
#footer .footer-link ul::after{ display: block; clear: both; content: ""; }
#footer .footer-link ul li{ float: left; }
#footer .footer-link ul li + li{ margin-left: 27px; }
#footer .footer-link ul li a{ font-size: 13px; color: #999999 }
#footer .footer-link ul li a strong{ color: #000000; }
#footer .footer-info{ background: #e3e3e3; padding: 18px 0; }
#footer .footer-info .container{ display: flex; align-items: center; }
#footer .footer-info .logo{ flex: none;width: 169px; height: 38px; background: url('../img/common/footer_logo.png') no-repeat center; background-size: 100%; text-indent: -9999px; margin-right: 52px; }
#footer .footer-info p{ font-size: 13px; color: #999999; line-height: 1.85; }


/*-------------------------------------------------------------------
    @서브공통
-------------------------------------------------------------------*/
 
/*-------------------------------------------------------------------
    @서브메인
-------------------------------------------------------------------*/
 
/*-------------------------------------------------------------------
    @메인
-------------------------------------------------------------------*/
 
/*-------------------------------------------------------------------
    @시스템
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    @태블릿
-------------------------------------------------------------------*/
@media all and (max-width: 1280px) {}

/*-------------------------------------------------------------------
    @모바일
-------------------------------------------------------------------*/
@media all and (max-width: 640px) {}