/* NanumGhodic */
@font-face { 
    font-family: 'NanumGhodic'; 
    font-weight: 300; 
    src:
        url('../fonts/NanumGothicLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumGothicLight.otf') format('opentype'),
        url('../fonts/NanumGothicLight.woff') format('woff'),
        url('../fonts/NanumGothicLight.woff2') format('woff2'),
        url('../fonts/NanumGothicLight.ttf') format('truetype'),
        url('../fonts/NanumGothicLight.svg#NanumGothicLight') format('svg');
}
@font-face { 
    font-family: 'NanumGhodic'; 
    font-weight: 400; 
    src:
        url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumGothic.otf') format('opentype'),
        url('../fonts/NanumGothic.woff') format('woff'),
        url('../fonts/NanumGothic.woff2') format('woff2'),
        url('../fonts/NanumGothic.ttf') format('truetype'),
        url('../fonts/NanumGothic.svg#NanumGothic') format('svg');
}
@font-face { 
    font-family: 'NanumGhodic'; 
    font-weight: 700; 
    src:
        url('../fonts/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumGothicBold.otf') format('opentype'),
        url('../fonts/NanumGothicBold.woff') format('woff'),
        url('../fonts/NanumGothicBold.woff2') format('woff2'),
        url('../fonts/NanumGothicBold.ttf') format('truetype'),
        url('../fonts/NanumGothicBold.svg#NanumGothicBold') format('svg');
}
@font-face { 
    font-family: 'NanumGhodic'; 
    font-weight: 800; 
    src:
        url('../fonts/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumGothicExtraBold.otf') format('opentype'),
        url('../fonts/NanumGothicExtraBold.woff') format('woff'),
        url('../fonts/NanumGothicExtraBold.woff2') format('woff2'),
        url('../fonts/NanumGothicExtraBold.ttf') format('truetype'),
        url('../fonts/NanumGothicExtraBold.svg#NanumGothicExtraBold') format('svg');
}

/* NanumSquare */
@font-face { 
    font-family: 'NanumSquare'; 
    font-weight: 300; 
    src:
        url('../fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquareL.otf') format('opentype'),
        url('../fonts/NanumSquareL.woff') format('woff'),
        url('../fonts/NanumSquareL.woff2') format('woff2'),
        url('../fonts/NanumSquareL.ttf') format('truetype'),
        url('../fonts/NanumSquareL.svg#NanumSquareL') format('svg');
}
@font-face { 
    font-family: 'NanumSquare'; 
    font-weight: 400; 
    src:
        url('../fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquareR.otf') format('opentype'),
        url('../fonts/NanumSquareR.woff') format('woff'),
        url('../fonts/NanumSquareR.woff2') format('woff2'),
        url('../fonts/NanumSquareR.ttf') format('truetype'),
        url('../fonts/NanumSquareR.svg#NanumSquareR') format('svg');
}
@font-face { 
    font-family: 'NanumSquare'; 
    font-weight: 700; 
    src:
        url('../fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquareB.otf') format('opentype'),
        url('../fonts/NanumSquareB.woff') format('woff'),
        url('../fonts/NanumSquareB.woff2') format('woff2'),
        url('../fonts/NanumSquareB.ttf') format('truetype'),
        url('../fonts/NanumSquareB.svg#NanumSquareB') format('svg');
}
@font-face { 
    font-family: 'NanumSquare'; 
    font-weight: 800; 
    src:
        url('../fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquareEB.otf') format('opentype'),
        url('../fonts/NanumSquareEB.woff') format('woff'),
        url('../fonts/NanumSquareEB.woff2') format('woff2'),
        url('../fonts/NanumSquareEB.ttf') format('truetype'),
        url('../fonts/NanumSquareEB.svg#NanumSquareEB') format('svg');
}