/* Rubik */
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 300; 
    src:
        url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-Light.otf') format('opentype'),
        url('../fonts/Rubik-Light.woff') format('woff'),
        url('../fonts/Rubik-Light.woff2') format('woff2'),
        url('../fonts/Rubik-Light.ttf') format('truetype'),
        url('../fonts/Rubik-Light.svg#Rubik-Light') format('svg');
}
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 300; 
    font-style: italic;
    src:
        url('../fonts/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-LightItalic.otf') format('opentype'),
        url('../fonts/Rubik-LightItalic.woff') format('woff'),
        url('../fonts/Rubik-LightItalic.woff2') format('woff2'),
        url('../fonts/Rubik-LightItalic.ttf') format('truetype'),
        url('../fonts/Rubik-LightItalic.svg#Rubik-LightItalic') format('svg');
}
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 400; 
    src:
        url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-Regular.otf') format('opentype'),
        url('../fonts/Rubik-Regular.woff') format('woff'),
        url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.ttf') format('truetype'),
        url('../fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
}
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 400; 
    font-style: italic;
    src:
        url('../fonts/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-Italic.otf') format('opentype'),
        url('../fonts/Rubik-Italic.woff') format('woff'),
        url('../fonts/Rubik-Italic.woff2') format('woff2'),
        url('../fonts/Rubik-Italic.ttf') format('truetype'),
        url('../fonts/Rubik-Italic.svg#Rubik-Italic') format('svg');
}
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 500; 
    src:
        url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-Medium.otf') format('opentype'),
        url('../fonts/Rubik-Medium.woff') format('woff'),
        url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.ttf') format('truetype'),
        url('../fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
}
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 500; 
    font-style: italic;
    src:
        url('../fonts/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-MediumItalic.otf') format('opentype'),
        url('../fonts/Rubik-MediumItalic.woff') format('woff'),
        url('../fonts/Rubik-MediumItalic.woff2') format('woff2'),
        url('../fonts/Rubik-MediumItalic.ttf') format('truetype'),
        url('../fonts/Rubik-MediumItalic.svg#Rubik-MediumItalic') format('svg');
}
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 600; 
    src:
        url('../fonts/Rubik-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-SemiBold.otf') format('opentype'),
        url('../fonts/Rubik-SemiBold.woff') format('woff'),
        url('../fonts/Rubik-SemiBold.woff2') format('woff2'),
        url('../fonts/Rubik-SemiBold.ttf') format('truetype'),
        url('../fonts/Rubik-SemiBold.svg#Rubik-SemiBold') format('svg');
}
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 600; 
    font-style: italic;
    src:
        url('../fonts/Rubik-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-SemiBoldItalic.otf') format('opentype'),
        url('../fonts/Rubik-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Rubik-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Rubik-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/Rubik-SemiBoldItalic.svg#Rubik-SemiBoldItalic') format('svg');
}
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 700; 
    src:
        url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-Bold.otf') format('opentype'),
        url('../fonts/Rubik-Bold.woff') format('woff'),
        url('../fonts/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Rubik-Bold.ttf') format('truetype'),
        url('../fonts/Rubik-Bold.svg#Rubik-Bold') format('svg');
}
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 700; 
    font-style: italic;
    src:
        url('../fonts/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-BoldItalic.otf') format('opentype'),
        url('../fonts/Rubik-BoldItalic.woff') format('woff'),
        url('../fonts/Rubik-BoldItalic.woff2') format('woff2'),
        url('../fonts/Rubik-BoldItalic.ttf') format('truetype'),
        url('../fonts/Rubik-BoldItalic.svg#Rubik-BoldItalic') format('svg');
}
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 900; 
    src:
        url('../fonts/Rubik-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-Black.otf') format('opentype'),
        url('../fonts/Rubik-Black.woff') format('woff'),
        url('../fonts/Rubik-Black.woff2') format('woff2'),
        url('../fonts/Rubik-Black.ttf') format('truetype'),
        url('../fonts/Rubik-Black.svg#Rubik-Black') format('svg');
}
@font-face { 
    font-family: 'Rubik'; 
    font-weight: 900; 
    font-style: italic;
    src:
        url('../fonts/Rubik-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-BlackItalic.otf') format('opentype'),
        url('../fonts/Rubik-BlackItalic.woff') format('woff'),
        url('../fonts/Rubik-BlackItalic.woff2') format('woff2'),
        url('../fonts/Rubik-BlackItalic.ttf') format('truetype'),
        url('../fonts/Rubik-BlackItalic.svg#Rubik-BlackItalic') format('svg');
}

/* SpoqaHanSansNeo */
@font-face { 
    font-family: 'SpoqaHanSansNeo'; 
    font-weight: 100; 
    src:
        url('../fonts/SpoqaHanSansNeo-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpoqaHanSansNeo-Thin.otf') format('opentype'),
        url('../fonts/SpoqaHanSansNeo-Thin.woff') format('woff'),
        url('../fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
        url('../fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype'),
        url('../fonts/SpoqaHanSansNeo-Thin.svg#Rubik-Thin') format('svg');
}
@font-face { 
    font-family: 'SpoqaHanSansNeo'; 
    font-weight: 300; 
    src:
        url('../fonts/SpoqaHanSansNeo-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpoqaHanSansNeo-Light.otf') format('opentype'),
        url('../fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
        url('../fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
        url('../fonts/SpoqaHanSansNeo-Light.ttf') format('truetype'),
        url('../fonts/SpoqaHanSansNeo-Light.svg#Rubik-Light') format('svg');
}
@font-face { 
    font-family: 'SpoqaHanSansNeo'; 
    font-weight: 400; 
    src:
        url('../fonts/SpoqaHanSansNeo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpoqaHanSansNeo-Regular.otf') format('opentype'),
        url('../fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
        url('../fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
        url('../fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype'),
        url('../fonts/SpoqaHanSansNeo-Regular.svg#Rubik-Regular') format('svg');
}
@font-face { 
    font-family: 'SpoqaHanSansNeo'; 
    font-weight: 500; 
    src:
        url('../fonts/SpoqaHanSansNeo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpoqaHanSansNeo-Medium.otf') format('opentype'),
        url('../fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
        url('../fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
        url('../fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype'),
        url('../fonts/SpoqaHanSansNeo-Medium.svg#Rubik-Medium') format('svg');
}
@font-face { 
    font-family: 'SpoqaHanSansNeo'; 
    font-weight: 700; 
    src:
        url('../fonts/SpoqaHanSansNeo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpoqaHanSansNeo-Bold.otf') format('opentype'),
        url('../fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
        url('../fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
        url('../fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype'),
        url('../fonts/SpoqaHanSansNeo-Bold.svg#Rubik-Bold') format('svg');
}