/*-------------------------------------------------------------------
    파일정의 : 메인 스타일
    속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
.main .section-wrap{ padding-top: 33px; padding-bottom: 40px; }
 
/*-------------------------------------------------------------------
    @섹션
-------------------------------------------------------------------*/
/* visual */
.main-visual{ position: relative; height: 430px; overflow: hidden; }
.main-visual > *{ height: 100%; }
.main-visual .main-banner{ position: absolute; width: 1310px; right: 50%; top: 0; transform: translateX(350px); }
.main-visual .main-banner .controller-wrap{ width: 100%; max-width: 990px; position: absolute; right: 0; bottom: 40px; padding-left: 40px; }
.main-visual .main-banner .controller-wrap .inner{ position: relative; height: 16px; }
.main-visual .main-banner .controller-wrap .inner .swiper-button-arr{ width: 9px; height: 16px; margin-top: 0; background-size: 100%; transform: translateY(-50%); }
.main-visual .main-banner .controller-wrap .inner .swiper-button-next{ background-image: url('../img/main/btn_ico_arr_next.png'); left: 60px; right: auto; }
.main-visual .main-banner .controller-wrap .inner .swiper-button-prev{ background-image: url('../img/main/btn_ico_arr_prev.png'); left: 0; }
.main-visual .main-banner .controller-wrap .inner .swiper-pagination{ left: 90px; bottom: 0; display: flex; }
.main-visual .main-banner .controller-wrap .inner .swiper-pagination .swiper-pagination-bullet{ width: auto; height: auto; font-size: 14px; line-height: 1.15; font-weight: 700; color: #ffffff; opacity: 0.46; background: none; }
.main-visual .main-banner .controller-wrap .inner .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet{ margin-left: 15px; }
.main-visual .main-banner .controller-wrap .inner .swiper-pagination .swiper-pagination-bullet-active{ opacity: 1; }
.main-visual .main-banner .controller-wrap .inner .swiper-button-active{ width: 12px; height: 15px; position: absolute; z-index: 1; left: 30px; }
.main-visual .main-banner .controller-wrap .inner .swiper-button-active.btn-stop{ background: url('../img/main/btn_ico_stop.png') no-repeat center; background-size: 100%; }
.main-visual .main-banner .controller-wrap .inner .swiper-button-active.btn-play{ background: url('../img/main/btn_ico_play.png') no-repeat center; background-size: 100%; }
.main-visual .quick-menu{ position: absolute; width: 610px; background: url('../img/main/bg_quick_menu.png') no-repeat center; background-size: cover; padding: 65px 15px 0; left: 50%; top: 0; height: 100%; transform: translateX(350px); }
.main-visual .quick-menu > .tit{ padding-left: 15px; font-weight: 700; font-size: 26px; margin-bottom: 20px; }
.main-visual .quick-menu ul{ width: 220px; display: flex; flex-wrap: wrap; }
.main-visual .quick-menu ul li{ flex: none; width: calc(50% - 15px); margin: 15px 0 0 15px; background: #7490c7; border-radius: 10px; height: 95px; }
.main-visual .quick-menu ul li a{ display: block; text-align: center; height: 100%; text-align: center; padding: 15px 0; }
.main-visual .quick-menu ul li a img{ margin: 2px auto 9px; width: 37px; }
.main-visual .quick-menu ul li a p{ color: #ffffff; font-weight: 700; }
.main-visual .quick-menu ul li a p.tit{ font-size: 14px; }
.main-visual .quick-menu ul li a p.count{ font-size: 24px; margin: 1px 0 8px; }

.section-wrap.operation{ background: #f3f8fe; padding-bottom: 0 }
.section-wrap.operation .btn-operation-more{ width: 100%; height: 111px; line-height: 111px; text-align: center; font-size: 32px; background: #dee7f1 url('../img/icon/btn_ico_more.png') no-repeat right 40px center; }
.section-wrap.operation .sec-cont{ padding: 15px 35px 75px; }
.section-wrap.operation .sec-cont .category-wrap{ display: flex; justify-content: space-between; align-items: center; }
.section-wrap.operation .sec-cont .category-wrap ul{ display: flex; justify-content: space-between; align-items: center; }
.section-wrap.operation .sec-cont .category-wrap ul li{ font-size: 16px; }
.section-wrap.operation .sec-cont .category-wrap ul li + li{ margin-left: 65px; }
.section-wrap.operation .sec-cont .category-wrap ul li a{ font-size: 16px; color: #333333; font-weight: 700 }
.section-wrap.operation .sec-cont .category-wrap ul li.on a{ color: #1c8fc3; }
.section-wrap.operation .sec-cont .category-wrap .sort-wrap{ display: flex; justify-content: space-between; align-items: center; }
.section-wrap.operation .sec-cont .category-wrap .sort-wrap .btn{ font-size: 14px; line-height: 18px; height: 18px; text-align: center; border-radius: 9px; padding: 0 15px; }
.section-wrap.operation .sec-cont .category-wrap .sort-wrap .btn.on{ background: #30597d; color: #ffffff; }
.section-wrap.operation .sec-cont .category-wrap .sort-wrap .btn + .btn{ margin-left: 7px; }
.section-wrap.operation .sec-cont .operation-slider{ margin-top: 15px; border-right: 1px solid #dddddd; position: relative; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide{ border: 1px solid #dddddd; border-right: 0; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap{ background: #ffffff; padding: 20px 20px 25px; position: relative; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .type-wrap{ position: absolute; display: flex; margin-top: -5px; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .type-wrap [class^='type']{ width: 40px; height: 26px; text-indent: -9999px; display: none; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .type-wrap [class^='type'] + [class^='type']{ margin-left: 5px; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .type-wrap .type01{ background: url('../img/main/ico_type01.png') no-repeat center; background-size: 100%; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .type-wrap .type02{ background: url('../img/main/ico_type02.png') no-repeat center; background-size: 100%; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .type-wrap.pick .type01{ display: block; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .type-wrap.necess .type02{ display: block; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .cate{ font-size: 14px; color: #666666; margin-top: 20px; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .tit{ font-size: 19px; font-weight: 700; margin-bottom: 6px; letter-spacing: -0.02em; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .cont{ margin-top: 15px; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .cont dl{ display: flex; align-items: center; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .cont dl dt,
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .cont dl dd{ flex: none; line-height: 1.6; font-size: 14px; letter-spacing: -0.04em; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .cont dl dt{ width: 62px; text-align: left; font-weight: 700; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .cont dl dd{ position: relative; color: #444444; padding-left: 12px; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .cont-wrap .cont dl dd:before{ content: ""; width: 1px; height: 9px; background: #b1b1b1; position: absolute; top: 8px; left: 0; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .btn-wrap{ display: flex; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .btn-wrap .btn{ flex: 1 0; letter-spacing: -0.04em; }
.section-wrap.operation .sec-cont .operation-slider .swiper-slide .btn-wrap .btn-detail{ height: 40px; line-height: 40px; font-size: 14px; text-align: center; color: #ffffff; background: #7490c7; }
.section-wrap.operation .sec-cont .operation-slider [class^='swiper-button-']{ width: 17px; height: 40px; margin-top: 0; transform: translateY(-50%); }
.section-wrap.operation .sec-cont .operation-slider .swiper-button-next{ background: url('../img/main/btn_ico_arr_next02.png') no-repeat center; right: -34px; }
.section-wrap.operation .sec-cont .operation-slider .swiper-button-prev{ background: url('../img/main/btn_ico_arr_prev02.png') no-repeat center; left: -34px; }
.section-wrap.operation .sec-cont .operation-slider .swiper-pagination{ left: 50%; transform: translate(-50%, 100%); bottom: -22px; }
.section-wrap.operation .sec-cont .operation-slider .swiper-pagination .swiper-pagination-bullet{ float: left; position: relative; width: 19px; height: 19px; border-radius: 50%; border: 1px solid transparent; background: none; opacity: 1; }
.section-wrap.operation .sec-cont .operation-slider .swiper-pagination .swiper-pagination-bullet::before{ position: absolute; content: ""; width: 3px; height: 3px; border-radius: 50%; background: rgba(57, 106, 148, 0.54); left: 50%; top: 50%; transform: translate(-50%, -50%); }
.section-wrap.operation .sec-cont .operation-slider .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet{ margin-left: 10px; }
.section-wrap.operation .sec-cont .operation-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{ border-color: rgba(53, 103, 146, 0.46); }
.section-wrap.operation .sec-cont .operation-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before{ width: 5px; height: 5px; background: #396a94 }

.section-wrap.notice{ width: 640px; flex: none; }
.section-wrap.notice .tit-wrap{ margin-bottom: 20px; }

.section-wrap.service-center{ margin-left: 50px; }
.section-wrap.service-center a{ color: #ffffff; padding: 16px 27px; }
.section-wrap.service-center a.question{ background: #79cd8c url('../img/main/ico_question.png') no-repeat 169px 98px; }
.section-wrap.service-center a.faq{ background: #7879c0 url('../img/main/ico_faq.png') no-repeat 170px 97px; }
.section-wrap.service-center a .tit{ font-size: 23px; font-weight: 700; font-family: 'NanumSquare'; }
.section-wrap.service-center a .txt{ font-size: 14px; margin-top: 6px; }

.section-wrap.related{ background: #f2f2f2; }
.section-wrap.related .related-slider{ padding: 0 34px; position: relative; }
.section-wrap.related .related-slider .swiper-slide{ display: flex; justify-content: center; align-items: center; height: 88px; }
.section-wrap.related .related-slider .swiper-slide img{ margin: 0 auto; }
.section-wrap.related .related-slider [class^='swiper-button-']{ width: 34px; height: 34px; margin-top: 0; transform: translateY(-50%); border: 1px solid #dadada; background-color: #ffffff; background-position: center; background-repeat: no-repeat; background-size: 9px; }
.section-wrap.related .related-slider .swiper-button-next{ background-image: url('../img/main/btn_ico_arr_next03.png'); right: 0; }
.section-wrap.related .related-slider .swiper-button-prev{ background-image: url('../img/main/btn_ico_arr_prev03.png'); left: 0; }


/*-------------------------------------------------------------------
    @태블릿
-------------------------------------------------------------------*/
@media all and (max-width: 1280px) {
    /*-------------------------------------------------------------------
        @공통
    -------------------------------------------------------------------*/
    .main .tit-wrap{ display: none; }

    /*-------------------------------------------------------------------
        @섹션
    -------------------------------------------------------------------*/
    /* visual */
    .main-visual{ height: auto; }
    .main-visual > *{ padding: 0; }
    .main-visual .main-banner{ position: static; width: 100%; transform: translateX(0); }
    .main-visual .main-banner .controller-wrap{ max-width: none; right: auto; left: 0; bottom: 50px; }
    .main-visual .main-banner .controller-wrap .inner .swiper-button-arr{ width: 16px; height: 29px; }
    .main-visual .main-banner .controller-wrap .inner .swiper-button-next{ left: 113px; }
    .main-visual .main-banner .controller-wrap .inner .swiper-button-active{ width: 19px; height: 32px; }
    .main-visual .main-banner .controller-wrap .inner .swiper-button-active.btn-stop{ left: 56px; top: 50%; transform: translateY(-50%); }
    .main-visual .main-banner .controller-wrap .inner .swiper-pagination{ left: 180px; bottom: auto; top: 50%; transform: translateY(-50%); }
    .main-visual .main-banner .controller-wrap .inner .swiper-pagination .swiper-pagination-bullet{ font-size: 22px; }
    .main-visual .main-banner .controller-wrap .inner .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet{ margin-left: 60px; }
    .main-visual .quick-menu{ position: static; width: 100%; background: #7490c7; transform: translateX(0); height: auto; padding: 0; }
    .main-visual .quick-menu > .tit{ display: none; }
    .main-visual .quick-menu ul{ width: 100%; }
    .main-visual .quick-menu ul li{ flex: 1 0; height: auto; margin: 0; }
    .main-visual .quick-menu ul li a{ padding: 34px 0; }
    .main-visual .quick-menu ul li a img{ width: 56px; margin-bottom: 24px; }
    .main-visual .quick-menu ul li a p.tit{ font-size: 24px; line-height: 1; }
    .main-visual .quick-menu ul li a p.count{ font-size: 40px; margin: 0 0 24px; line-height: 1.275; }

    .section-wrap.operation .sec-cont{ padding: 15px 35px 35px; }
    .section-wrap.operation .sec-cont .category-wrap .sort-wrap{ display: none; }
}

/*-------------------------------------------------------------------
    @모바일
-------------------------------------------------------------------*/
@media all and (max-width: 640px) {}