/*-------------------------------------------------------------------
    파일정의 : 메인 스타일
    속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
/* 타이틀 */
.sec-head{ display: flex; justify-content: space-between; align-items: center; }
.sec-head .tit{ font-weight: 700; position: relative; }
.sec-head .tit .deco{ position: absolute; left: 0; }

.sec-head.v1{ border-bottom: 1px solid #eeeeee; padding-bottom: 12px; }
.sec-head.v1 .tit{ font-size: 26px; padding-left: 32px; }
.sec-head.v1 .tit .deco{ top: 10px; }

.section-wrap{ padding-top: 33px; padding-bottom: 40px; }
 
/*-------------------------------------------------------------------
    @섹션
-------------------------------------------------------------------*/
/* visual */
.main-visual{ display: flex; justify-content: center; }
.main-visual > *{ flex: none; }
.main-visual .main-banner{ width: 1310px; }
.main-visual .main-banner .controller-wrap{ width: 100%; max-width: 990px; position: absolute; right: 0; bottom: 40px; padding-left: 40px; }
.main-visual .main-banner .controller-wrap .inner{ position: relative; height: 16px; }
.main-visual .main-banner .controller-wrap .inner .swiper-button-arr{ width: 6px; height: 16px; margin-top: 0; background-size: 100%; transform: translateY(-50%); }
.main-visual .main-banner .controller-wrap .inner .swiper-button-next{ background-image: url('../img/main/btn_ico_arr_next.png'); left: 60px; right: auto; }
.main-visual .main-banner .controller-wrap .inner .swiper-button-prev{ background-image: url('../img/main/btn_ico_arr_prev.png'); left: 0; }
.main-visual .main-banner .controller-wrap .inner .swiper-pagination{ left: 90px; bottom: 0; }
.main-visual .main-banner .controller-wrap .inner .swiper-pagination::after{ display: block; clear: both; content: ""; }
.main-visual .main-banner .controller-wrap .inner .swiper-pagination .swiper-pagination-bullet{ width: auto; height: auto; font-size: 14px; line-height: 1.15; font-weight: 700; color: #ffffff; opacity: 0.46; background: none; float: left; }
.main-visual .main-banner .controller-wrap .inner .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet{ margin-left: 15px; }
.main-visual .main-banner .controller-wrap .inner .swiper-pagination .swiper-pagination-bullet-active{ opacity: 1; }
.main-visual .main-banner .controller-wrap .inner .swiper-button-active{ width: 12px; height: 15px; position: absolute; z-index: 1; left: 27px; }
.main-visual .main-banner .controller-wrap .inner .swiper-button-active.btn-stop{ background: url('../img/main/btn_ico_stop.png') no-repeat; }
.main-visual .main-banner .controller-wrap .inner .swiper-button-active.btn-play{ background: url('../img/main/btn_ico_play.png') no-repeat; }
.main-visual .quick-menu{ width: calc(100% - 1310px); background: url('../img/main/bg_quick_menu.png') no-repeat center; background-size: cover; padding: 63px 15px 0; }
.main-visual .quick-menu > .tit{ padding-left: 15px; font-weight: 700; font-size: 26px; margin-bottom: 18px; }
.main-visual .quick-menu ul{ width: 220px; display: flex; flex-wrap: wrap; }
.main-visual .quick-menu ul li{ flex: none; width: calc(50% - 15px); margin: 15px 0 0 15px; background: #7490c7; border-radius: 10px; height: 95px; }
.main-visual .quick-menu ul li a{ display: block; text-align: center; height: 100%; text-align: center; padding: 14px 0; }
.main-visual .quick-menu ul li a img{ margin: 2px auto 9px; }
.main-visual .quick-menu ul li a p{ color: #ffffff; font-weight: 700; }
.main-visual .quick-menu ul li a p.tit{ font-size: 14px; }
.main-visual .quick-menu ul li a p.count{ font-size: 24px; margin: 1px 0 8px; }

.section-wrap.operation{ background: #f3f8fe; }
.section-wrap.operation .sec-body{ padding: 15px 34px 0; }
.section-wrap.operation .sec-body .category-wrap{ display: flex; justify-content: space-between; align-items: center; }
.section-wrap.operation .sec-body .category-wrap ul{ display: flex; justify-content: space-between; align-items: center; }
.section-wrap.operation .sec-body .category-wrap ul li{ font-size: 16px; }
.section-wrap.operation .sec-body .category-wrap ul li + li{ margin-left: 65px; }
.section-wrap.operation .sec-body .category-wrap ul li a{ font-size: 16px; color: #333333; font-weight: 700 }
.section-wrap.operation .sec-body .category-wrap ul li.on a{ color: #1c8fc3; }
.section-wrap.operation .sec-body .category-wrap .sort-wrap{ display: flex; justify-content: space-between; align-items: center; }
.section-wrap.operation .sec-body .category-wrap .sort-wrap .btn{ font-size: 14px; line-height: 18px; height: 18px; text-align: center; border-radius: 9px; padding: 0 14px; }
.section-wrap.operation .sec-body .category-wrap .sort-wrap .btn.on{ background: #30597d; color: #ffffff; }
.section-wrap.operation .sec-body .category-wrap .sort-wrap .btn + .btn{ margin-left: 7px; }