@charset "utf-8";


.po_C1{color:#151a61 !important}
.po_C2{color:#de1352 !important}
.po_C3{color:#333 !important}
.po_C4{color:#289ccb !important}
.po_C5{color:#51b9ea !important}
.po_C6{color:#265f94 !important}
.po_C7{color:#444 !important}
.po_C8{color:#222 !important}
.po_C9{color:#000 !important}
.po_C10{color:#0085d2 !important}

.hr_20{height:20px !important}
.hr_40{height:40px !important}

.borBox{border:1px solid #ddd}

.terms2{padding:20px;height:400px;overflow-y: scroll;overflow-y: scroll;-webkit-overflow-scrolling: touch}
.terms2 > p{font-size: 13px;line-height: 20px;color:#444}



.mapWrap{border:1px solid #ccc}
.rboxtit{border-radius: 20px;padding:7px 20px;border:1px solid #0085d2;color:#0085d2;font-family: 'NanumGothicBold';display: inline-block;}
.rboxtit.dkblue{border-color:#151a61;color:#151a61 }
.wayto .li_dot{margin:7px 0}


/* sitemap */
.siteAll > li{display:block;width:33.333%;float:left}
.siteAll dt{background:url(../../images/common/site_bar.png) #0085d2 right 0 repeat-y;height:70px;padding:22px 0;color:#fff;font-size:1.5em;font-family:'NanumGothicBold';font-weight: normal;}
.siteAll dd{padding:15px 20px;background:url(../../images/common/site_dot.png) right 0 repeat-y;height:240px;position:relative;}
.siteIco{display: inline-block;width:80px;height:58px;position: absolute;bottom:0;right:1px;background-position:right bottom;background-repeat: no-repeat;z-index:-1}
.site01{background-image:url(../../images/common/siteico01.png)}
.site02{background-image:url(../../images/common/siteico02.png)}
.site03{background-image:url(../../images/common/siteico03.png)}
.site04{background-image:url(../../images/common/siteico04.png)}
.site05{background-image:url(../../images/common/siteico05.png)}
.site06{background-image:url(../../images/common/siteico06.png)}
.site07{background-image:url(../../images/common/siteico07.png)}
.site08{background-image:url(../../images/common/siteico08.png)}
.site09{background-image:url(../../images/common/siteico09.png)}
.site10{background-image:url(../../images/common/siteico10.png)}
.site_dash > li{background: url(../../images/common/site_dash.png) 0 center no-repeat; padding:0 0 0 10px; margin:5px 0; font-size: 1.2em;}
.site_dash > li > a{color:#666}
.site_dash > li > a:hover{color:#0085d2;font-family:'NanumGothicBold'; text-decoration: underline;}



@media screen and (min-width:600px) {
    .siteAll > li:nth-child(3n) dd{background-image:none}
    .siteAll > li:last-child dd{background-image:none}
}
@media screen and (max-width:599px) {
    .siteAll > li{width:50%}
    .siteAll > li:nth-child(2n) dd{background-image:none}
    
}




.dataTbl{border-top:2px solid #5990c9; border-bottom:1px solid #5990c9;}
.writeForm{border-top:2px solid #5990c9;}
.dataTbl {width:100%;}
.dataTbl thead th{background:#f1f1f1;color:#333;height:45px}
.dataTbl th,.dataTbl td,.writeForm th,.writeForm td{border-bottom:1px solid #a1a1a1;border-right:1px solid #a1a1a1;padding:8px;color:#323232}
.dataTbl td{height:50px}
.dataTbl tr th:last-child{border-right:0}
.dataTbl tr td:last-child,.writeForm tr td:last-child{border-right:0}

.dataTbl .form-control {
    width: 99%;
    height: 29px;
    padding: 4px 5px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #444;
}

.writeForm {width:100%;}
.writeForm tbody th{background:#f0f5fa;padding:7px 7px 7px 20px;height:38px;text-align: left}
.writeForm tbody td{padding:7px 10px 7px 20px;height:38px}
.writeForm .form-control {
    width: 99%;
    height: 29px;
    padding: 4px 5px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #444;
}

.form-inline{margin:0 -3px}
.form-inline .form-group{margin:2px 1px}
.form-inline .form-group + .btn_cal{margin-right:5px;margin-left:2px}




@media screen and (min-width:768px) {
    .inputDate.row > .col-sm-6:first-child{padding-right:5px}
    .inputDate.row > .col-sm-6:last-child{padding-left:5px}
}
@media screen and (max-width:767px) {
    .inputDate.row > .col-sm-6:first-child{padding-bottom:5px}
}