/*-------------------------------------------------------------------
    파일정의 : 유틸리티
    속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/

/* System */

/* Display */

/* Margin */

/* Padding */

/* Border */

/* Align - Inline */

/* 말줄임 */

/* Flexible */

/*-------------------------------------------------------------------
    @Only (Display 스타일은 다양하므로 숨길경우만 사용)
-------------------------------------------------------------------*/
/* Device */
.dv-pc .hide-pc, 
.dv-pad .hide-pad,
.dv-mobile .hide-mobile,
.dv-android .hide-android, 
.dv-ios .hide-ios {display:none !important;}
 
/* Media */
@media screen { .hide-screen {display:none !important;} }
@media print { .hide-print {display:none !important;} }

/*-------------------------------------------------------------------
    @Color Set
    - 배경: bg-, 텍스트: txt-, 라인: line-
    - 밝은: -light, 어두운: -dark, 더 밝은/어두운: ~er
-------------------------------------------------------------------*/
/* 기본 */
.bg-none {background-color:transparent !important;}
.txt-none {color:transparent !important;}
.line-none {border-color:transparent !important;}
 
/* 주 강조 */
.bg-primary {background-color:;}
.txt-primary {color:;}
.line-primary {border-color:;}
 
/* 상태 */
.bg-성공 {background-color:;}
.txt-성공 {color:;}
.line-성공 {border-color:;}
 
/* 상품 */
.bg-이름 {background-color:;}
.txt-이름 {color:;}
.line-이름 {border-color:;}